*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
body .container #motorola {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: black 15px solid;
  border-radius: 10px;
  height: 700px;
  width: 350px;
  background-color: rgb(21, 44, 148);
}
body .container #show-credito {
  width: 70%;
}
body .container #input-keypad {
  width: 100%;
}
body .container #show-credito,
body .container #input-keypad {
  height: 40px;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
body .container .wrap-keypad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .container .wrap-keypad .box-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .container .wrap-keypad .box-btn .btn {
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}
body .container .wrap-keypad .box-btn .btn:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}
body .container .wrap-keypad .box-btn .btn-red {
  background-color: red;
}
body .container .wrap-keypad .box-btn .btn-orange {
  background-color: orange;
}
body .container .wrap-keypad .box-btn .btn-green {
  background-color: green;
}
body .container #operations-phone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body .container #ricarica-tel {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container #chiamata-time {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}
body .container #quantita-chiamate {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}
body .container #btn-add-credito {
  background-color: cadetblue;
  border: none;
  padding: 4px;
}
body .container #btn-add-credito:hover {
  color: white;
  background-color: green;
}
